.container-fluid{
    padding: 0%;
    margin: 0px;
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
}

.header {
    background-color: #d90000;
    width: 100%;
}

.img_logo{
    max-width: 35vw;    
}

.nav_header{
    margin-top: 5vh;
  

}
.nav_header>li:link{
    text-decoration: overline;
    text-decoration-color: white;
}
.nav_header>li:hover {
    text-decoration-color: white;
    text-decoration: overline;
}

.nav_header>li {
    list-style-type: none;
    display:inline-block;
}

.world_map{
    background-color: #D5E0E9;
}

.world_img{
    max-width: 100%;
    position: relative;
}

.footer{
    text-align: center;
    color: white;
    background-color: #343b46;
    padding: 10px;
    width: 100%;
}

.footerlistadress{
    list-style-type: none;
}

.creating {
    background-color: #f3f3f3;
    border:1px solid #f3f3f3;
    margin: 0px;
}
.aside-2-img {
    max-width: ;
    max-height: ;
}